// @include breakpoint($tablet){
//   font-size: 1.1rem;
// }
@mixin breakpoint($points){
  @media screen and (min-width: $points) {
    @content;
  }
}
@mixin breakpoint-max($points){
  @media screen and (max-width: $points) {
    @content;
  }
}

// @include transition(all,2s,ease-out);
@mixin transition($what: all, $time: .3s, $how: ease) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}


// Pseudo-element shapes

@mixin pseudo-el($el, $el-w: null, $el-h: null) {
	@if $el == "before" or $el == "after" {
	  &:#{$el} {
		  @extend %pseudos;
		  width: $el-w;
	  	height: $el-h;
	    @content;
	  }
	}
	@else {
    @error "`#{$el}` is not a valid pseudo-element.";
	}
}


// Adjacent sibling

@mixin doubly {
	& + & {
    @content;
	}
}
