// ==========================================================================
// Global Config
// ==========================================================================

// Tasty Colors
// ==========================================================================

$ruby: #FF6A6A;
$light_ruby: #FE8E8E;
$grapefruit: #F5BF66;
$light_grapefruit: #f6CF8C;
$lemon: #F1E657;
$light_lemon: #F4EC81;
$kiwi: #A0D468;
$light_kiwi: #B5DB8B;
$mint: #51D9B7;
$light_mint: #7DE1C8;
$sea: #4FC1E9;
$light_sea: #7BD0EE;
$sky: #658DEF;
$light_sky: #8BA9F2;
$lavender: #A284ED;
$light_lavender: #B9A2F0;
$rose: #F09BC2;
$light_rose: #F3B4D1;


$snow: #EEEEEE;
$light_snow: #F8F8F8;
$chalk: #E2E3E5;
$light_chalk: #EAEBEC;
$silver: #B8BDC5;
$light_silver: #C9CDD3;
$smoke: #7D828A;
$light_smoke: #8B9199;
$charcoal: #474B50;
$light_charcoal: #75787B;


// Font family, color, size
// ==========================================================================

//$font-family: -apple-system, system-ui, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
$font-family: 'Proximanova', sans-serif;
$text-color: $charcoal;
//$font-size is declared in _functions.scss
$line-height     : 24px;


// Font Weights
// ==========================================================================

// $font-weight--thin       : 100;
// $font-weight--light      : 300;
// $font-weight--medium     : 400;
// $font-weight--bold       : 700;
// $font-weight--ultra-bold : 900;


// Max width for wrapper and header
// ==========================================================================

$max-width: rem(700px);



// Border-radius
// ==========================================================================

$border-radius: .5em;
$border-radius--round: 50%;


// Breakpoints
// ==========================================================================

$mobile: 375px;
$phablet: 414px;
$tablet: 600px;
$medium: 900px;
$large: 1200px;
$huge: 1400px;
