// ==========================================================================
// Base Styles
// ==========================================================================

// Border-box

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Antialiasing

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Hide Chrome blue outline

textarea:focus, input:focus{
    outline: none;
    background: $light_snow;
}

*:focus {
    outline: none;
}

// Body, finally

body {
  font-family: $font-family;
  padding-top: 5rem;
  color: $text_color;
  @include breakpoint($tablet){
    padding-top: 5.75rem;
  }
}

// Hide emtpy paragraphs

p:empty {
  display: none;
}

a {
	color: $charcoal;
	text-decoration: none;
	&:hover {
		color: $light_smoke;
	}
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

// FORMS

form,
button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
  color: $text-color;
}

abbr[title] {
  text-decoration: none;
}
label {
  display: inline-block;
  margin-bottom: rem(5px);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 100%;
	margin-bottom: 1em;
	border: 1px solid $light_silver;
	border-radius: .5em;
}

select {
  margin-bottom: 1em;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: rem(40px);
}

textarea {
	min-height: rem(200px);
}

input, textarea {
  padding: rem(10px);
}

input[type="checkbox"] {
  margin-right: 3px;
}

// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}
