#banner
  .banner_content
    %h1 MyNotes
    %p Noteworthy personal notes
    %button= link_to "Register for Free", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Writing down your notes
        %p It's scientifically proved that writing down your personal thoughts leads to physical and mental improvements!<br>What you remember about an event may differ quite a bit from what someone else remembers. There is a wide variety of interpretations of reality. And then when you try to remember that interpretation of an event later on it can change even more.
