// ==========================================================================
// Footer
// ==========================================================================

footer {
  font-size: .9rem;
	background: #529ECC;
	width: 100%;
	padding: 1em 0;
	color: white;
	text-align: center;
	> p {
		margin: 0;
		font-size: .65rem;
	}
}
