// ==========================================================================
// Header
// ==========================================================================

.header {
	background: $sea;
	position: absolute;
	@include breakpoint($desktop) {
		position: fixed;
	}
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	&__content {
		width: 95%; width: calc(100% - 1.4rem);
    max-width: $max-width;
		margin: 0 auto;
		#logo {
			display: inline-block;
			text-decoration: none;
			font-weight: 400;
			color: white;
			font-size: 1.4em;
      @include breakpoint($tablet){
        font-size: 2em;
      }
		}
	}
}
