// ==========================================================================
// Nav
// ==========================================================================

.main-nav {
  margin-top: 3px;
  float: right;
  @include breakpoint($tablet){
    margin-top: .4rem;
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: rgba(255,255,255,.85);
    line-height: 1.5;
    margin-left: 1rem;
    &:hover {
      color: white;
    }
  }
}
