// DOCUMENTS INDEX

#documents {
  .document {
    //background: #ededee;
    color: $smoke;
    border-bottom: 1px solid $silver;
    padding: 1em 2.5%;
    position: relative;
    text-align: center;

    .title {
      font-weight: 300;
      color: #777;
      margin: 0;
      left: 4.5%;
      font-size: 1.4em;
    }

    .date {
      position: absolute;
      top: 1.9em;
      left: 3em;
      font-weight: lighter;
      font-size: 0.75rem;
      text-align: center;
    }

    .content {
      margin: 1em auto 0;
      margin-bottom: 0;
      text-align: center;
      color: #666;
      font-size: 0.75em;
    }
  }
}

#documents a:last-child .document{
  border: none;
}









// DOCUMENT SHOW
#document_show {
  .title {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1rem;
  }

  .document_date{
    margin-top: 0;
    border-bottom: 1px solid $silver;
    color: $light_charcoal;
    padding-bottom: 0.8em;
  }

  p {
    line-height: 1.6;
  }

  .document_actions .button{
    width: 100%;
    text-align: center;
    @include breakpoint($tablet){
      width: 32.8%;
    }
    @include breakpoint($medium){
      width: inherit;
    }
  }

}
