// ==========================================================================
// Document index
// ==========================================================================

.document-index {
  &__document {
    //background: #ededee;
    display: flex;
    border-bottom: 1px solid $silver;
    padding: 1em 2.5%;

    &__date {
      font-weight: lighter;
      font-size: 0.75em;
      text-align: center;
      margin-right: 2rem;
      @include breakpoint($tablet){
        margin-top: 1.2rem;
      }
    }

    &__content {
      flex: 1;
      overflow: hidden;

      &__title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint($tablet){
          font-size: 1.4em;
        }
      }

      &__excerpt {
        display: none;
        @include breakpoint($tablet){
          display: block;
          margin: 1em auto 0;
          margin-bottom: 0;
          // color: #666;
          font-size: 0.75em;
        }
      }
    }

    &__actions {
      & a > i {
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        font-size: 20px;
        @include breakpoint($tablet) {
          margin-top: 13px;
        }
      }
    }

  }
}

.document-index__document:last-child{
  border: none;
}


// ==========================================================================
// Document show
// ==========================================================================

.document-show {
  &__title {
    font-size: 2rem;
    @include breakpoint($tablet){
      font-size: 3rem;
    }
    margin-bottom: .2em;
  }

  &__date{
    margin-top: 0;
    border-bottom: 1px solid $silver;
    color: $light_charcoal;
    padding-bottom: 0.8em;
  }

  p {
    line-height: 1.6;
  }

  &__actions {
    margin-top: 40px;
    .button{
      width: 100%;
      text-align: center;
      @include breakpoint($tablet){
        width: 32.6%;
      }
      @include breakpoint($medium){
        width: inherit;
      }
    }
  }
}
