
// STYLING FOR WELCOME PAGE

.banner {
	background-image: url(image_path("coffee2.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: middle center;
	display: table;
	width: 100%;
	height: 440px;
	@include breakpoint($tablet){
		height: 600px;
	}
	&__content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: rgba(255,255,255, 0.9);
		h1 {
			font-size: 3.5rem;
			margin: 0;
		}
		p {
			font-size: 1.5rem;
			margin: 0 0 2.5rem 0;

		}
	}
}


.callout {
	background-image: image-url("clouds2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	height: 500px;
	display: table;
	&__content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		padding: 1.5rem 2.5%;
		h1 {
			color: white;
			margin-bottom: 0;
		}
		p {
			color: rgba(255, 255, 255, 0.9);
		}
		a.button{
			margin-top: 20px;
			max-width: 100%;
		}
	}
}
